// use when needing to center element horizontally
@mixin center {
    @content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// loops through theme list
@mixin themes($list) {

    // start at 1 and go to length of list that is passed
    @for $i from 1 through length($list) {

        // loop through each item and return .col-# class with bgcolor
        &.col-#{$i} {
            background-color: nth($list, $i);
        }
    }
}

// loops through button map 
@mixin set-btns($default-color, $error-color, $info-color, $success-color, $warning-color) {
    .default {
        background-color: $default-color;

        &:hover {
            background-color: lighten($default-color, 15%);
            cursor: pointer;
        }
    }

    .error {
        background-color: $error-color;

        &:hover {
            background-color: lighten($error-color, 15%);
            cursor: pointer;
        }
    }

    .info {
        background-color: $info-color;

        &:hover {
            background-color: lighten($info-color, 15%);
            cursor: pointer;
        }
    }

    .success {
        background-color: $success-color;

        &:hover {
            background-color: lighten($success-color, 15%);
            cursor: pointer;
        }
    }

    .warning {
        background-color: $warning-color;

        &:hover {
            background-color: lighten($warning-color, 15%);
            cursor: pointer;
        }
    }
}

// set flex-basis of .col-# class elements
@mixin set-flex-col($cols) {
    @if not is-number($cols) or $cols <=0 {
        @error '#{$cols} is not a valid number';
    }

    @for $i from 1 through $cols {
        // Calculul procentajului corect
        $percentage: calc(
            100 / $cols) * $i;

        .col-#{$i} {
            flex-basis: #{$percentage};
        }
    }
}

// return media query
@mixin mq($bk-pt) {
    $val: map-get($breakpoints, $bk-pt);
    $md: map-get($breakpoints, 'md');

    @if $val ==null {
        @error "#{$bk-pt} is not a valid breakpoint";
    }

    @else if $val < $md {
        @media only screen and (max-width : $val) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width : $val) {
            @content;
        }
    }
}