//Colors
$color-white:#fff;
$primary-color: #11e3c3;
$secondary-color:#2d423f;
$color-gray-light: #ccc;
$color-gray-dark:#777;
$link-color:#51ddfc;
$headline-primary-color:#58e1c1;
$theme-purple-dark:#927bc1;
$theme-dark-orange:#fd7856;
$theme-pink:#deb2ee;
$theme-light-blue:#7ee6fd;
$theme-green:#88d9a0;
$theme-blue: #4da2bb;
$theme-salmon: #ec9fa3;
$theme-light-orange:#fd9f85;
$theme-light-red:#e4757a;
$theme-light-green:#63cc82;
$theme-babyblue:#51ddfc;
$theme-grass: #80e8d1;
$input-border-color:#58e1c1;
// Media Query Break Points
$breakpoints:(md:768px);